numpy~=2.2.5
torch~=2.7.0+cu128; platform_system != "Darwin"
torch~=2.7.0.cpu; platform_system == "Darwin"
botorch~=0.13.0
matplotlib~=3.10.1
scipy~=1.15.2
scikit-optimize~=0.10.2
scikit-learn~=1.6.1
gpytorch~=1.14
torch~=2.7.0+cu128
opencv-python~=4.11.0.86